#submit {
  display: none;
}

.submit {
  padding-bottom: 30px;
  padding-top: 30px;
}

#start {
  margin-top: 125px;
}

.btn {
  padding: 15px 30px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
