#submit {
  padding: 15px 30px;
  display: none;
  border-radius: 5px;
}

.submit {
  padding-bottom: 30px;
  padding-top: 30px;
}

#start {
  padding: 15px 30px;
  margin-top: 125px;
  border-radius: 5px;
}
