.card {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  border: 1px solid #343434;
  text-align: left;
  color: #343434;
  display: none;
}

.card .question {
  margin-left: 5%;
  margin-right: 5%;
}

.card .answers input[type=radio] {
  margin: 10px;
  display:none;
}

.card .answers label {
  display: inline-block;
  margin: 0% 10% 2% 10%;
  padding: 5px 12px;
  background-color: lightgreen;
  border: 0.5px solid gray;
  color: green;
}

.card .answers label:hover {
  background-color: green;
  color: white;
}

.card input:checked + label{
  background-color: red;
}
