.card {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  box-shadow: 1px 1px 1px darkgrey;
  border-radius: 5px;
  text-align: left;
  color: #343434;
  display: none;
}

.card .question {
  margin-left: 5%;
  margin-right: 5%;
}

.card .answers input[type=radio] {
  margin: 10px;
  display:none;
}

.card .answers label {
  display: inline-block;
  margin: 0% 10% 2% 10%;
  padding: 5px 12px;
  border-radius: 5px;
  background-color: #87CEEB;
  color: #673AB7;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

.card .answers label:hover {
  background-color: #673AB7;
  color: white;
}

.card input:checked + label{
  background-color: #673AB7;
  color: white;
  box-shadow: 1px 1px 1px darkgrey;
}


/* light-blue: #87CEEB
deep-purple: #673AB7*/
