#bg {
  background-image: linear-gradient(white, #32F101);
  text-align: center;
  min-height: 100vh;
}

h1 {
  margin: 0 auto;
  padding: 20px;
  font-family: "Lobster", sans-serif;
  font-size: 3.5em;
  color: #32F101;
  text-align: center;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 35px;
}

.white {
 background-color: white;
}

#body {
  padding-top: 215px;
}
