body {
  background: url("http://www.elastique.nl/content/home/space_odyssey2.gif");
  background-size: contain;

/*  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;*/
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 3.5em;
  color: white;
  text-align: center;
}

