#bg {
  background-image: linear-gradient(white, #32F101);
  text-align: center;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 20px;
  font-family: "Lobster", sans-serif;
  font-size: 3.5em;
  color: #32F101;
  text-align: center;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}
